@using Microsoft.AspNetCore.Identity
@using AgriculturalProductsStore.Models.Entity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<nav class="navbar navbar-expand-lg navbar-light bg-primary p-0">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" asp-action="Index" asp-controller="Home">Danh mục sản phẩm <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Pricing</a>
            </li>
        </ul>
        <div class="navbar-text">
            <ul class="navbar-nav">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-action="Index" asp-controller="ManagerAccount" title="Manage">Xin chào @User.Identity.Name!</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-action="Register" asp-controller="Account">Đăng ký</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-action="Login" asp-controller="Account">Đăng nhập</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>