@using AgriculturalProductsStore.Web.ViewModels.ManagerAccount
@model AgriculturalProductsStore.Web.ViewModels.ManagerAccount.UserAddressViewModel
@using AgriculturalProductsStore.Web.Configuration

@{
    ViewData["Title"] = "Thêm địa chỉ";
    Layout = "~/Views/Membership/_MembershipLayout.cshtml";
}
<div class="col-9">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h4>Thêm địa chỉ</h4>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form method="post" asp-action="AddAddress" asp-controller="ManagerAccount" asp-route-returnUrl="@ViewData[" ReturnUrl"]">
                    <div class="form-group row">
                        <label asp-for="FullName" class="col-4 col-form-label">Họ và tên</label>
                        <div class="col-8">
                            <input asp-for="FullName" placeholder="Họ và tên" class="form-control here" required="required" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Company" class="col-4 col-form-label">Công ty</label>
                        <div class="col-8">
                            <input asp-for="Company" placeholder="Công ty" class="form-control here" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="PhoneNumber" class="col-4 col-form-label">Số điện thoại</label>
                        <div class="col-8">
                            <input asp-for="PhoneNumber" placeholder="Số điện thoại" class="form-control here" type="tel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ProvinceCity" class="col-4 col-form-label">Tỉnh/Thành phố</label>
                        <div class="col-8">
                            <input asp-for="ProvinceCity" placeholder="Tỉnh/Thành phố" class="form-control here" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="District" class="col-4 col-form-label">Quận huyện</label>
                        <div class="col-8">
                            <input asp-for="District" placeholder="Quận huyện" class="form-control here" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Ward" class="col-4 col-form-label">Phường/Xã</label>
                        <div class="col-8">
                            <input asp-for="Ward" placeholder="Phường/Xã" class="form-control here" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Address" class="col-4 col-form-label">Địa chỉ</label>
                        <div class="col-8">
                            <textarea asp-for="Address" placeholder="Địa chỉ" class="form-control here" type="text"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-4 col-form-label">Loại địa chỉ</label>
                        <div class="col-8">
                            @Html.DropDownListFor(m => m.AddressType, new List<SelectListItem>
                            {
                            new SelectListItem{Text="Nhà riêng/Chung cư", Value="1"},
                            new SelectListItem{Text="Cơ quan/Công ty", Value="2"}},
                            "Chọn loại địa chỉ",
                            new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-4 col-form-label"></label>
                        <div class="col-8">
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" asp-for="IsDefault" name="example1">
                                <label class="custom-control-label" asp-for="IsDefault">Chọn làm địa chỉ mặc định</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-4 col-8">
                            <button name="submit" type="submit" class="btn btn-primary">Cập nhật</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


