@model AgriculturalProductsStore.Web.ViewModels.Account.LoginViewModel
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="~/css/form-account.css" rel="stylesheet" />
}
<div id="logreg-forms">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <form class="form-signin" method="post" asp-action="Login">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Đăng nhập</h1>
        <div class="social-login">
            <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Đăng nhập với Facebook</span> </button>
            <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Đăng nhập với Google</span> </button>
        </div>
        <p style="text-align:center"> Hoặc  </p>
        <input id="inputEmail" hidden class="form-control rounded" asp-for="ReturnUrl" value="@ViewData["ReturnUrl"]" placeholder="Nhập Email" autofocus="">
        <input id="inputEmail" class="form-control rounded" asp-for="Username" placeholder="Số điện thoại/Email" autofocus="">
        <input type="password" id="inputPassword" class="form-control mt-2 rounded" asp-for="Password" placeholder="Mật khẩu">
        <div class="custom-control custom-checkbox pt-2">
            <input type="checkbox" asp-for="RememberLogin" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Nhớ mật khẩu?</label>
        </div>
        <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Đăng nhập</button>
        <a href="#" id="forgot_pswd">Quên mật khẩu?</a>
        <hr>
        <!-- <p>Don't have an account!</p>  -->
        <a class="btn btn-primary btn-block" asp-action="Register" asp-controller="Account" id="btn-signup"><i class="fas fa-user-plus"></i> Đăng ký tài khoản</a>
    </form>
</div>
