
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="~/css/form-account.css" rel="stylesheet" />
}
<div id="logreg-forms">
    <form action="/reset/password/" class="form-reset">
        <input type="email" id="resetEmail" class="form-control" placeholder="Email" required="" autofocus="">
        <button class="btn btn-primary btn-block" type="submit">Tiếp tục <i class="fas fa-angle-right"></i></button>
        <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Đăng nhập</a>
    </form>
</div>

