<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Farm Store - @ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </environment>
    @*<link href="http://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css" rel="stylesheet" />*@
    <link href="~/lib/material/materialdesignicons.min.css" rel="stylesheet" asp-append-version="false" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/common.css" rel="stylesheet" />
    @RenderSection("Styles", false)
</head>
<body>

    <header>
        <div class="container-fluid bg-light justify-content-center d-flex">
            <img src="~/image/layout/slide-header.png" alt="Alternate Text" class="img-thumbnail p-0 border-0 rounded-0" />
        </div>
        <div class="container-fluid bg-primary">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    @await Html.PartialAsync("~/Views/Membership/_NavAccountPartial.cshtml")
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </header>
    <div class="container-fluid bg-light">
        <div class="row pt-3">
            <div class="col-2"></div>
            <div class="col-8">
                <main role="main">
                    <div class="row">
                        <div class="col-3 p-0">
                            <div class="list-group border list-menu bg-white">
                                <a href="#" class="btn btn-sm text-left">@*<i class="fab fa-500px"></i>*@ Trang chủ</a>
                                <a href="#" class="btn btn-sm text-left">@*<i class="fab fa-500px"></i>*@ Trang chủ</a>
                                <a href="#" class="btn btn-sm text-left">@*<i class="fab fa-500px"></i>*@ Trang chủ</a>
                                <a href="#" class="btn btn-sm text-left">@*<i class="fab fa-500px"></i>*@ Trang chủ</a>
                                <a href="#" class="btn btn-sm text-left">@*<i class="fab fa-500px"></i>*@ Trang chủ</a>
                                <a href="#" class="btn btn-sm text-left">@*<i class="fab fa-500px"></i>*@ Trang chủ</a>
                                <a href="#" class="btn btn-sm text-left">@*<i class="fab fa-500px"></i>*@ Trang chủ</a>
                                <a href="#" class="btn btn-sm text-left">@*<i class="fab fa-500px"></i>*@ Trang chủ</a>
                                <a href="#" class="btn btn-sm text-left">@*<i class="fab fa-500px"></i>*@ Trang chủ</a>
                                <a href="#" class="btn btn-sm text-left">@*<i class="fab fa-500px"></i>*@ Trang chủ</a>
                                <a href="#" class="btn btn-sm text-left">@*<i class="fab fa-500px"></i>*@ Trang chủ</a>
                                <a href="#" class="btn btn-sm text-left">@*<i class="fab fa-500px"></i>*@ Trang chủ</a>
                                <a href="#" class="btn btn-sm text-left">@*<i class="fab fa-500px"></i>*@ Trang chủ</a>
                                <a href="#" class="btn btn-sm text-left">@*<i class="fab fa-500px"></i>*@ Trang chủ</a>
                                <a href="#" class="btn btn-sm text-left">@*<i class="fab fa-500px"></i>*@ Trang chủ</a>
                                <a href="#" class="btn btn-sm text-left">@*<i class="fab fa-500px"></i>*@ Trang chủ</a>
                            </div>
                        </div>
                        <div class="col-9 p-0">
                            <div class="row ml-0 mr-0">
                                <div class="col-7 p-0">
                                    <img src="~/image/layout/nhanhieu.jpg" class="img-fluid img-thumbnail border-0 p-0 rounded-0 w-100 h-100" />
                                </div>
                                <div class="col-5">
                                    <div class="row">
                                        <div class="col-6 p-0">
                                            <img src="~/image/layout/hocsinh.png" class="img-thumbnail border-0 p-0 rounded-0 w-100 h-100" />
                                        </div>
                                        <div class="col-6 p-0">
                                            <img src="~/image/layout/nike.png" class="img-thumbnail border-0 p-0 rounded-0 w-100 h-100" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 p-0">
                                            <img src="~/image/layout/banchay.png" class="img-thumbnail border-0 p-0 rounded-0 w-100 h-100" />
                                        </div>
                                        <div class="col-6 p-0">
                                            <img src="~/image/layout/me.png" class="img-thumbnail border-0 p-0 rounded-0 w-100 h-100" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ml-0 mr-0">
                                <div class="col-7">
                                    <div class="row">
                                        <div class="col-6 p-0">
                                            <img src="~/image/layout/samsung.png" class="img-thumbnail border-0 p-0 rounded-0 w-100 h-100" />
                                        </div>
                                        <div class="col-6 p-0">
                                            <img src="~/image/layout/be.png" class="img-thumbnail border-0 p-0 rounded-0 w-100 h-100" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="row">
                                        <div class="col-6 p-0">
                                            <img src="~/image/layout/khanuot.png" class="img-thumbnail border-0 p-0 rounded-0 w-100 h-100" />
                                        </div>
                                        <div class="col-6 p-0">
                                            <img src="~/image/layout/giamgia.png" class="img-thumbnail border-0 p-0 rounded-0 w-100 h-100" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ml-0 mr-0"></div>
                        </div>
                    </div>
                    @RenderBody()
                </main>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - AgriculturalProductsStore.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
